[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "customizedTraining"]
	path = customizedTraining
	url = https://github.com/saberpowers/customizedtraining
	shallow = true
	registered = true
[submodule "npmr"]
	path = npmr
	url = https://github.com/cran/npmr
	shallow = true
	registered = true
